.listing_categories {
  margin-bottom: 25px; }

.stm_close_edit_item {
  margin-left: 10px !important;
  font-style: normal; }

.stm_edit_item_wrap {
  display: none; }

.ui-sortable-helper {
  width: 100%; }

.ui-sortable-placeholder {
  background-color: #dcdcdc; }

.stm-ui-sortable tr:hover {
  cursor: move; }

.stm_theme_icon_font_table {
  display: none; }

.stm_theme_icon_font_table td:hover {
  cursor: pointer; }

.stm_theme_cat_chosen_icon_edit_preview i,
.stm_theme_cat_chosen_icon_preview i {
  display: inline-block;
  margin: 20px auto;
  padding: 5px;
  font-size: 65px;
  background-color: #000;
  color: #fff; }

.stm_theme_pick_font {
  margin: 15px 0 !important; }

.stm_edit_item_wrap label,
.stm-new-filter-category label {
  display: inline-block; }

.form-wrap .form-field.stm-modern-filter-unit {
  padding-left: 20px; }

.stm-csv-import-available-tags {
  width: 16%;
  float: left; }

.stm-csv-import-needed-tags {
  width: 80%;
  float: left; }

.needed-tag-placeholder {
  display: none;
  height: 30px;
  border: 1px dashed black; }

.source {
  max-width: 100%;
  width: 30%;
  float: left;
  margin-top: 18px; }

.target {
  max-width: 100%;
  width: 60%;
  float: left;
  margin-left: 20px; }

.target:after {
  clear: both;
  display: table;
  content: ''; }

.target .target-unit {
  float: left;
  width: 30%;
  padding: 0 10px; }

.item {
  height: 20px;
  margin: 5px 0 8px;
  padding: 5px;
  border: 1px solid gray;
  background-color: #22b7d2;
  position: relative; }

.item:hover {
  cursor: move; }

.item .closer {
  position: absolute;
  right: 5px;
  top: 6px;
  font: bold 14px arial;
  color: #666;
  padding: 1px 3px;
  line-height: 1;
  cursor: pointer;
  display: none; }

.item .closer:hover {
  color: #000; }

.empty {
  height: 30px;
  margin: 5px 0 20px;
  background: #eee;
  border: 1px dashed #999;
  padding-bottom: 2px; }

.empty .item {
  margin: 0; }

.empty .item .closer {
  display: block; }

.highlight {
  border: 1px solid red;
  background: #fff; }

.highlight .item {
  opacity: 0.3; }

.ui-draggable-dragging {
  z-index: 99;
  opacity: 1 !important; }

.white {
  background-color: #fff !important; }

.import_details {
  display: none; }

.import_details iframe {
  margin-top: 20px;
  width: 70%;
  height: 180px;
  background-color: #22b7d2; }

.danger {
  color: red; }

/* Automanager */
.stm-automanager-xml {
  padding: 45px 0 20px; }

.stm-automanager-xml.first-step footer .btn {
  display: none; }

.btn,
.btn-large {
  color: #fff !important; }

.mg-bt-20 {
  margin-bottom: 20px; }

.pd-bt-15 {
  padding-bottom: 15px; }

.stm-preloader-file {
  display: inline-block;
  margin: 9px 0 0 20px;
  vertical-align: top; }

.progress .determinate {
  width: 25%; }

#stm_automanager_third_step,
#stm_automanager_second_step {
  display: none; }

.stm-automanager-xml footer {
  padding: 20px 0 0; }

.stm-automanager-xml .stm_theme_fields .input-field {
  margin-bottom: 25px; }

.stm-automanager-xml .stm_theme_fields .input-field label {
  left: 0 !important; }

.stm-automanager-xml .stm_theme_fields .input-field .select-wrapper {
  margin-bottom: 50px; }

.xml_badge {
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #26a69a;
  color: #fff !important;
  padding: 7px;
  cursor: move; }

.xml_badge .ui-draggable-dragging {
  background-color: transparent; }

.stm-step-three-preloader,
.stm-step-two-preloader,
.stm-proceed-step-four,
.stm-proceed-step-three {
  display: none; }

.stm-back {
  float: left; }

.stm-automanager-xml.third-step .stm-proceed-step-four,
.stm-automanager-xml.second-step .stm-proceed-step-three {
  display: block;
  float: right; }

.stm-automanager-xml.third-step .stm-step-three-preloader,
.stm-automanager-xml.second-step .stm-step-two-preloader {
  display: block;
  float: right;
  margin-right: 25px; }

.checkbox-field {
  margin-bottom: 25px; }

.checkbox-field > label {
  font-size: 15px;
  line-height: 18px; }

.stm-automanager-xml footer.clear:after {
  content: '';
  display: block;
  clear: both; }

#stm_xml_import_automanager {
  display: none;
  width: 80%;
  height: 200px;
  padding: 25px 15px;
  background-color: #26a69a; }

#stm_automanager_fourth_step {
  display: none; }

.stm-automanager-xml.third-step .update_now_test {
  display: block; }

.pulsate {
  border-radius: 15px;
  box-shadow: 0 0 0 rgba(38, 166, 154, 0.8);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite; }

.hovered {
  border-color: #66bb6a !important; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.8); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(38, 166, 154, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(38, 166, 154, 0); } }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(38, 166, 154, 0.4); }
  70% {
    box-shadow: 0 0 0 10px rgba(38, 166, 154, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(38, 166, 154, 0); } }

.cron-settings {
  margin-bottom: 70px; }

.stm-automanager-xml.fourth-step .stm-back {
  display: none; }

.stm-automanager-xml {
  padding-top: 20px; }

.stm_automanager_notification {
  margin-bottom: 20px !important;
  padding: 15px 20px 10px 30px !important;
  border-left-color: #26a69a !important; }

.stm_automanager_notification strong {
  font-weight: 700; }

.single-add-to-compare.single-add-to-compare-visible {
  z-index: 999; }

.listing-list-loop .content .meta-middle {
  margin-bottom: 14px; }

.listing-list-loop .content .meta-middle .meta-middle-unit {
  margin-bottom: 13px; }

.export_settings input[type="file"] {
  display: block;
  margin: 30px 0 15px;
  width: 100%; }

.stm-autocomplete.ui-front {
  z-index: 999999; }

.stm_taxonomy_listing_image_chosen {
  vertical-align: middle !important;
  max-height: 60px; }

.stm-choose-listing-image {
  vertical-align: middle !important; }

.stm-choose-listing-image .button-primary {
  vertical-align: middle !important; }

.stm-media-remove-all {
  margin-left: 20px !important; }

.stm_importer {
  margin: 20px 20px 0 0;
  background: #fff;
  padding: 30px; }

.stm_message {
  padding: 40px;
  max-width: 450px;
  text-align: center;
  background: #fff;
  margin: 20px auto; }

.stm_message_title {
  margin: 20px 0;
  line-height: 1.3; }

.stm_message.success .stm_message_text {
  font-size: 16px; }

.stm_message.danger {
  background-color: #e05d6f;
  color: #fff;
  font-size: 16px;
  line-height: 28px; }

.stm_demo_import_choices {
  margin-top: 30px; }

.stm_demo_import_choices label {
  display: block;
  max-width: 230px;
  margin-right: 35px;
  margin-bottom: 30px;
  float: left; }

.stm_demo_import_choices label img {
  max-width: 100%; }

.stm_demo_import_choices:after {
  content: '';
  display: block;
  clear: both; }

.stm_demo_import_choices .stm_choice_radio_button {
  margin-top: 25px;
  text-align: center; }

.stm_demo_import_choices img {
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.17);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.stm_demo_import_choices img:hover {
  box-shadow: 0 5px 17px rgba(0, 0, 0, 0.6); }

.stm_demo_button_align {
  max-width: 1290px;
  text-align: center; }

.stm_demo_button_align .size_big {
  height: 36px;
  line-height: 34px;
  padding: 0 15px 1px; }

.stm-pick-icon {
  max-width: 30px;
  overflow: hidden; }

.stm-pick-icon i {
  display: block;
  max-width: 100%;
  width: 20px;
  overflow: hidden; }

.stm_table-two-columns-image label {
  margin-right: 15px; }

/*HIDE USELESS FIELDS FROM BOATS TEMPLATE*/
.wp-admin.stm-template-boats .stm_admin_sub_title,
.wp-admin.stm-template-boats .stm_admin_title_box_bg_color,
.wp-admin.stm-template-boats .stm_admin_title_box_font_color,
.wp-admin.stm-template-boats .stm_admin_title_box_line_color,
.wp-admin.stm-template-boats .stm_admin_title_box_subtitle_font_color,
.wp-admin.stm-template-boats .stm_admin_title_box_custom_bg_image,
.wp-admin.stm-template-boats .stm_admin_sub_title,
.wp-admin.stm-template-boats .stm_admin_vin_number,
.wp-admin.stm-template-boats .stm_admin_history,
.wp-admin.stm-template-boats .stm_admin_history_link,
.wp-admin.stm-template-boats .stm_admin_registration_date,
.wp-admin.stm-template-boats .stm_admin_stm_car_user,
.wp-admin.stm-template-boats .stm_admin_stm_car_user,
.wp-admin.stm-template-boats .stm_admin_stm_car_views {
  display: none; }

body.stm-template-motorcycle .hidden-on {
  display: block; }

.hidden-on {
  display: none; }

#widgets-right #stm_boats_car {
  display: none; }

body.stm-template-boats #widgets-right #stm_boats_car {
  display: block; }

#widgets-right #stm_listing_car {
  display: none; }

body.stm-template-listing #widgets-right #stm_listing_car {
  display: block; }

.export_settings input[type="file"] {
  display: block;
  margin: 30px 0 15px;
  width: 100%; }

.form-table.stm {
  width: auto; }

.form-table.stm th {
  width: auto; }

.form-table.stm td, .form-table.stm th {
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px; }

.form-table.stm td .wp-color-result {
  margin-bottom: 0; }

.stm_metabox_image .stm_upload_image, .stm_metabox_image .stm_remove_image, .stm_metabox_image .custom_preview_image {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0; }

.stm_metabox_image .stm_upload_image:active {
  vertical-align: middle; }

.stm_metabox_image .custom_preview_image {
  width: 170px;
  height: auto;
  max-height: 200px; }

.form-table.stm h3 {
  padding: 20px 0 0 !important;
  font-size: 20px !important;
  text-transform: uppercase; }

.wp-admin .form-table.stm input[type=text],
.wp-admin .form-table.stm select {
  width: 100%; }

.stm-metabox-media {
  margin: 0 -5px; }

.stm-metabox-media .stm-uploaded-file {
  width: 100px;
  height: auto;
  display: inline-block;
  vertical-align: top;
  padding: 5px; }

.stm-uploaded-file img {
  display: block;
  max-width: 100%;
  height: auto; }

.textfield-description {
  color: #9e9e9e;
  font-size: 13px;
  font-style: italic;
  line-height: 20px; }

.custom_preview_file {
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle; }

.stm-repeat-table-row {
  margin-bottom: 10px; }

.stm-repeat-table-row input[type="text"] {
  width: inherit !important;
  margin-right: 10px !important; }

.stm-repeat-table-row .add-row {
  margin-top: 15px !important; }

/*Hide unnecessary fields from plugin if theme not motors*/
/*From listing Categories*/
body.stm-template-not_motors a[href="#stm_font-motors"],
body.stm-template-not_motors .stm_form_wrapper_use_on_car_modern_filter_view_images,
body.stm-template-not_motors .stm_form_wrapper_use_on_car_filter_links,
body.stm-template-not_motors .stm_form_wrapper_use_on_car_modern_filter,
body.stm-template-not_motors .stm_form_wrapper_use_on_tabs,
body.stm-template-not_motors .stm_form_wrapper_use_on_directory_filter_title,
body.stm-template-not_motors .stm_form_wrapper_select,
body.stm-template-not_motors .stm_form_wrapper_listing_rows_numbers_enable,
body.stm-template-not_motors .stm_form_wrapper_radio,
body.stm-template-not_motors .stm_form_wrapper_enable_checkbox_button,
body.stm-template-not_motors .stm_form_wrapper_use_on_directory_filter_title,
body.stm-template-not_motors #butterbean-control-stm_car_location {
  display: none !important; }

.stm-message {
  border-left: 4px solid #ffba00;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  margin-right: 30px; }

/*New styles*/
.listings_page_listing_categories .woocommerce-message,
.listings_page_listing_categories #setting-error-tgmpa {
  display: none; }

.ht_vehicles_listing_categories {
  max-width: 95%;
  margin-top: 50px; }
  .ht_vehicles_listing_categories .stm_start {
    position: relative;
    top: 6px;
    float: left;
    margin-bottom: 35px;
    font-size: 17px;
    font-weight: 600;
    color: #23282d; }
  .ht_vehicles_listing_categories .stm_import_export {
    text-align: right; }
    .ht_vehicles_listing_categories .stm_import_export .export_settings a,
    .ht_vehicles_listing_categories .stm_import_export .export_settings input[type="file"],
    .ht_vehicles_listing_categories .stm_import_export .export_settings form {
      display: inline-block;
      margin: 0;
      width: auto; }
    .ht_vehicles_listing_categories .stm_import_export .export_settings a i,
    .ht_vehicles_listing_categories .stm_import_export .export_settings button i {
      margin-right: 5px; }
    .ht_vehicles_listing_categories .stm_import_export .export_settings input[type="file"] {
      width: 170px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 999; }
    .ht_vehicles_listing_categories .stm_import_export .export_settings .stm_admin_listings_fake {
      position: relative;
      display: inline-block;
      height: 27px;
      line-height: 27px;
      margin-right: 10px;
      vertical-align: top;
      border: 1px dashed #aeaeae;
      cursor: pointer !important;
      background-color: transparent;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
      .ht_vehicles_listing_categories .stm_import_export .export_settings .stm_admin_listings_fake.active, .ht_vehicles_listing_categories .stm_import_export .export_settings .stm_admin_listings_fake:hover {
        background-color: #fff; }
      .ht_vehicles_listing_categories .stm_import_export .export_settings .stm_admin_listings_fake input[type="file"] {
        position: relative;
        opacity: 0;
        z-index: 15; }
      .ht_vehicles_listing_categories .stm_import_export .export_settings .stm_admin_listings_fake .fake_text {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: center;
        color: #888888;
        z-index: 5; }
    .ht_vehicles_listing_categories .stm_import_export .export_settings form {
      margin-right: 20px; }
      .ht_vehicles_listing_categories .stm_import_export .export_settings form button {
        box-shadow: 0 1px 0 #006799 !important; }
  .ht_vehicles_listing_categories .ht_vehicles_listing_content {
    position: relative; }
    .ht_vehicles_listing_categories .ht_vehicles_listing_content:before {
      background: rgba(255, 255, 255, 0.6);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      z-index: 999;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .ht_vehicles_listing_categories .ht_vehicles_listing_content:after {
      content: "\f110";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -17px 0 0 -17px;
      -webkit-animation: fa-spin 1s infinite steps(8);
      animation: fa-spin 1s infinite steps(8);
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 35px;
      color: #555;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
      z-index: 9999; }
    .ht_vehicles_listing_categories .ht_vehicles_listing_content.loading:before {
      visibility: visible;
      opacity: 1; }
    .ht_vehicles_listing_categories .ht_vehicles_listing_content.loading:after {
      visibility: visible;
      opacity: 1; }
    .ht_vehicles_listing_categories .ht_vehicles_listing_content table.listing_categories {
      border-color: #e5e5e5; }
      .ht_vehicles_listing_categories .ht_vehicles_listing_content table.listing_categories thead tr th {
        padding: 25px 30px;
        font-size: 13px;
        color: #555555;
        text-transform: uppercase; }
      .ht_vehicles_listing_categories .ht_vehicles_listing_content table.listing_categories tbody tr td {
        padding: 14px 30px;
        font-size: 15px; }
        .ht_vehicles_listing_categories .ht_vehicles_listing_content table.listing_categories tbody tr td.highlited {
          font-weight: 700; }

.ht_vehicles_listing_row_options:before,
.ht_vehicles_listing_row_options:after {
  content: " ";
  display: table;
  clear: both; }

.ht_vehicles_listing_row_options .stm_listings_col_4 {
  float: left;
  width: 25%; }
  .ht_vehicles_listing_row_options .stm_listings_col_4:first-child {
    position: relative;
    left: -15px; }
  .ht_vehicles_listing_row_options .stm_listings_col_4:last-child {
    position: relative;
    right: -15px; }
  .ht_vehicles_listing_row_options .stm_listings_col_4.stm_divider_3, .ht_vehicles_listing_row_options .stm_listings_col_4.stm_divider_2, .ht_vehicles_listing_row_options .stm_listings_col_4.stm_divider_1 {
    margin-top: 15px; }

.ht_vehicles_listing_row_options .stm_listings_col_4 .inner {
  padding: 0 15px; }

.stm_listings_settings_head {
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease; }
  .stm_listings_settings_head.active {
    position: relative;
    background: #f2f2f2; }
    .stm_listings_settings_head.active td {
      position: relative; }
      .stm_listings_settings_head.active td:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        height: 8px;
        width: 100%;
        background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
        background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%); }
      .stm_listings_settings_head.active td i.fa-pencil {
        color: #0073aa; }
  .stm_listings_settings_head td {
    border-bottom: 1px solid #e5e5e5; }
  .stm_listings_settings_head i {
    cursor: pointer; }
    .stm_listings_settings_head i.fa-list-ul {
      margin-left: 19px; }
    .stm_listings_settings_head i.fa-pencil {
      display: block;
      position: relative;
      top: 2px;
      margin-left: 7px; }
      .stm_listings_settings_head i.fa-pencil:after {
        position: absolute;
        top: -7px;
        left: -9px;
        content: '';
        width: 31px;
        height: 31px;
        background-color: #fff;
        border-radius: 50%;
        z-index: 10; }
      .stm_listings_settings_head i.fa-pencil:before {
        display: block;
        position: relative;
        z-index: 20; }
    .stm_listings_settings_head i.fa-close {
      margin-left: 18px; }

.stm_listings_settings_tr {
  background: #f2f2f2; }
  .stm_listings_settings_tr td {
    padding: 0 !important; }
    .stm_listings_settings_tr td .ht_vehicles_listing_option_meta {
      padding: 20px 30px 40px 30px;
      -webkit-transition: background-color .2s ease;
      transition: background-color .2s ease; }
      .stm_listings_settings_tr td .ht_vehicles_listing_option_meta.loading {
        opacity: 0.6; }
      .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions {
        padding: 30px 0 0 0;
        margin-top: 30px;
        border-top: 1px solid #cfcfcf; }
        .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions:after {
          content: '';
          display: block;
          clear: both; }
        .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a {
          height: 40px;
          line-height: 38px;
          padding: 0 30px 2px; }
        .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#save"] {
          float: left; }
        .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#cancel"] {
          margin-left: 22px; }
        .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#cancel"],
        .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#delete"] {
          float: right; }
          .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#cancel"] .fa-trash-o,
          .stm_listings_settings_tr td .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#delete"] .fa-trash-o {
            font-size: 18px;
            position: relative;
            top: 1px;
            left: -5px; }

.ht_vehicles_listing_option_meta {
  position: relative;
  display: none; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper {
    padding-bottom: 33px; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper label span {
      display: block;
      opacity: 0.6;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_select, .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_icon,
    .ht_vehicles_listing_option_meta .stm_form_wrapper.highlighted label span {
      opacity: 1; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper input[type="text"] {
      height: 40px;
      line-height: 40px;
      width: 100%;
      border: 1px solid #aaa;
      box-shadow: none !important; }
      .ht_vehicles_listing_option_meta .stm_form_wrapper input[type="text"]:focus {
        border-color: #0073aa; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper select {
      height: 40px;
      line-height: 40px;
      width: 100%;
      border: 1px solid #aaa;
      box-shadow: none !important; }
      .ht_vehicles_listing_option_meta .stm_form_wrapper select:focus {
        border-color: #0073aa; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_radio span, .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_checkbox span {
      position: relative;
      top: -1px;
      font-size: 14px;
      font-weight: 600;
      color: #23282d;
      min-height: 22px; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_radio input, .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_checkbox input {
      margin-right: 12px; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_icon span, .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_select span, .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_text span {
      display: block;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: 600; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_slug {
      display: none; }

.ht_vehicles_listing_icon {
  cursor: pointer !important; }
  .ht_vehicles_listing_icon.stm_icon_given .stm-default-icon_ {
    display: none !important; }
  .ht_vehicles_listing_icon .icon {
    float: left;
    width: 74px;
    height: 74px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #aaa;
    text-align: center; }
    .ht_vehicles_listing_icon .icon img {
      display: none; }
      .ht_vehicles_listing_icon .icon img.stm-default-icon_ {
        display: inline-block;
        margin-top: 22px; }
    .ht_vehicles_listing_icon .icon i {
      display: block;
      max-width: 50px;
      width: auto;
      margin: 0 auto;
      overflow: hidden;
      font-size: 40px;
      line-height: 74px; }
  .ht_vehicles_listing_icon .stm_delete_icon,
  .ht_vehicles_listing_icon .stm_change_icon {
    display: inline-block;
    padding: 8px 18px;
    margin-top: 19px;
    background-color: #e5e5e5;
    color: #0073aa;
    overflow: hidden;
    border-radius: 3px;
    font-size: 14px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer; }
    .ht_vehicles_listing_icon .stm_delete_icon:hover,
    .ht_vehicles_listing_icon .stm_change_icon:hover {
      background-color: #dadada; }

.ht_vehicles_listing_icons {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .ht_vehicles_listing_icons .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9; }
  .ht_vehicles_listing_icons .inner {
    margin-top: 60px;
    position: absolute;
    width: 60%;
    height: 60%;
    top: 12%;
    left: 20%;
    background: #fff;
    z-index: 15; }
    .ht_vehicles_listing_icons .inner .scrollable-content {
      height: 100%;
      position: absolute;
      width: 100%;
      overflow-y: scroll; }
    .ht_vehicles_listing_icons .inner .stm_how_to_add {
      position: absolute;
      bottom: -72px;
      left: 0;
      height: 72px;
      width: 100%;
      background: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .ht_vehicles_listing_icons .inner .stm_how_to_add:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        display: block;
        height: 8px;
        width: 100%;
        background: -webkit-linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
        background: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.1) 100%);
        background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.1) 100%); }
      .ht_vehicles_listing_icons .inner .stm_how_to_add a {
        display: block;
        position: relative;
        top: 25px;
        margin-left: 40px;
        font-size: 14px;
        color: #888888; }
        .ht_vehicles_listing_icons .inner .stm_how_to_add a i {
          position: relative;
          top: 2px;
          left: 10px; }
    .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon {
      position: relative;
      text-align: center;
      cursor: pointer; }
      .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-boats-icon-jet-sky, .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-boats-icon-canoe, .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-boats-icon-dinghy, .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-boats-icon-yacht, .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-boats-icon-sailboat, .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-boats-icon-boat, .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.stm-listings-stm-service-icon-sales_pin {
        display: none; }
      .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon i {
        display: block;
        width: 27px;
        height: 27px;
        margin: 0 auto;
        font-size: 17px;
        line-height: 27px;
        text-align: center;
        overflow: hidden;
        border-radius: 3px; }
        .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon i.big_icon {
          position: absolute;
          top: -5px;
          left: 5px;
          width: 65px;
          height: 65px;
          font-size: 32px;
          line-height: 65px;
          text-align: center;
          background-color: #fff;
          -webkit-transform: scale(0);
                  transform: scale(0);
          opacity: 0;
          visibility: hidden;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
          -webkit-transition: all .2s ease;
          transition: all .2s ease; }
      .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon:hover .big_icon {
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1); }
      .ht_vehicles_listing_icons .inner td.stm-listings-pick-icon.chosen i {
        background-color: #0073aa;
        color: #fff; }
    .ht_vehicles_listing_icons .inner .stm_font_nav {
      position: absolute;
      top: -60px;
      left: 0;
      width: 100%;
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
      .ht_vehicles_listing_icons .inner .stm_font_nav:after {
        position: absolute;
        bottom: -8px;
        left: 0;
        content: '';
        display: block;
        height: 8px;
        width: 100%;
        background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
        background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, transparent 100%); }
      .ht_vehicles_listing_icons .inner .stm_font_nav > div {
        float: left; }
        .ht_vehicles_listing_icons .inner .stm_font_nav > div:first-child a {
          border-top-left-radius: 5px; }
      .ht_vehicles_listing_icons .inner .stm_font_nav a {
        display: block;
        padding: 21px 50px;
        background: #fff;
        font-size: 15px;
        color: #424242;
        text-decoration: none !important;
        box-shadow: none !important; }
        .ht_vehicles_listing_icons .inner .stm_font_nav a.active {
          background: #0073aa;
          color: #fff !important; }
    .ht_vehicles_listing_icons .inner .stm_theme_font {
      display: none; }
      .ht_vehicles_listing_icons .inner .stm_theme_font.active {
        display: block; }

.ht_vehicles_listing_icons.visible {
  opacity: 1;
  visibility: visible; }

.stm_form_wrapper[data-depended="true"] {
  display: none;
  margin-left: 25px;
  margin-top: -2px; }
  .stm_form_wrapper[data-depended="true"] span {
    top: -5px !important;
    font-size: 13px !important;
    font-style: italic;
    font-weight: 400 !important; }

.stm_form_wrapper_radio label {
  display: block;
  margin-bottom: 5px; }

.stm_listings_settings_head.ui-sortable-helper {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-bottom: 0; }
  .stm_listings_settings_head.ui-sortable-helper td {
    display: table-cell; }
    .stm_listings_settings_head.ui-sortable-helper td:nth-child(1) {
      width: 382px; }
    .stm_listings_settings_head.ui-sortable-helper td:nth-child(2) {
      width: 376px; }
    .stm_listings_settings_head.ui-sortable-helper td:nth-child(3) {
      width: 345px; }
    .stm_listings_settings_head.ui-sortable-helper td:nth-child(4) {
      width: 190px; }
    .stm_listings_settings_head.ui-sortable-helper td:nth-child(5) {
      width: 229px; }
    .stm_listings_settings_head.ui-sortable-helper td:nth-child(6) {
      width: 201px; }

.stm_vehicles_add_new {
  position: relative; }
  .stm_vehicles_add_new .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_slug {
    display: block; }
  .stm_vehicles_add_new:before {
    background: rgba(255, 255, 255, 0.6);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 999999;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
  .stm_vehicles_add_new:after {
    content: "\f110";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -17px 0 0 -17px;
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 35px;
    color: #555;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 99999999; }
  .stm_vehicles_add_new.loading2:before {
    visibility: visible;
    opacity: 1; }
  .stm_vehicles_add_new.loading2:after {
    visibility: visible;
    opacity: 1; }
  .stm_vehicles_add_new .ht_vehicles_listings_add_new_row {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    color: #888;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .stm_vehicles_add_new .ht_vehicles_listings_add_new_row:hover, .stm_vehicles_add_new .ht_vehicles_listings_add_new_row.active {
      background-color: #0073aa;
      color: #fff; }
    .stm_vehicles_add_new .ht_vehicles_listings_add_new_row i {
      margin-left: 30px;
      margin-right: 20px; }
  .stm_vehicles_add_new .listing_categories_add_new .ht_vehicles_listing_option_meta .ht_vehicles_listing_row_actions a[href="#add_new"] {
    float: left; }

.listing_categories_add_new .stm_response_message {
  float: left; }

.stm_response_message {
  display: none;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  font-size: 15px;
  padding: 8px 18px;
  margin: 0 0 0 30px; }

/*Checkbox fix*/
.ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_checkbox input[type=checkbox] {
  float: left; }

.ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_checkbox span {
  display: block;
  line-height: 18px;
  overflow: hidden;
  top: -5px; }

/*Preview*/
.ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image {
  position: relative; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image:after {
    content: '';
    clear: both;
    display: block; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image.stm_form_wrapper_checkbox a[data-image] {
    top: -8px; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image a[data-image] {
    display: inline-block;
    position: relative;
    right: -10px;
    top: 5px;
    padding: 1px 10px 0;
    border-radius: 3px;
    background-color: #e5e5e5;
    font-size: 11px;
    color: #555 !important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image a[data-image]:hover {
      background-color: #dadada;
      color: #0073aa !important; }
    .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image a[data-image] i {
      margin-right: 4px; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image label {
    display: block;
    float: left; }

.image-preview {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease; }
  .image-preview img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -237.5px 0 0 -350px;
    z-index: 25;
    max-width: 700px; }
  .image-preview.visible {
    opacity: 1;
    visibility: visible; }
  .image-preview .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20; }

.stm_form_wrapper_number_field_affix {
  margin-top: -39px !important; }
  .stm_form_wrapper_number_field_affix input {
    max-width: 171px;
    height: 30px !important;
    line-height: 30px !important; }

.stm_form_wrapper_slider {
  margin-top: -16px !important; }

.stm_form_wrapper_radio[data-depended] {
  margin-top: -29px !important; }

.stm_form_wrapper_enable_checkbox_button[data-depended] {
  margin-top: -20px !important; }

.stm_form_wrapper_radio.stm_form_wrapper_radio span {
  top: -2px !important; }

.listing_categories_add_new a[href="#delete"],
.ht_vehicles_listing_row_actions a[href="#cancel"] {
  display: none; }

.stm_listings_settings_head td:not(.manage):hover {
  cursor: pointer; }

.stm_form_wrapper_use_on_single_listing_page {
  display: none; }

.stm_form_wrapper_radio input + span {
  display: inline-block !important;
  opacity: 0.6 !important; }

.stm_form_wrapper_radio input:checked + span {
  opacity: 1 !important; }

.stm_form_wrapper_use_on_directory_filter_title a[data-image] {
  margin: 8px 0 0 18px; }

.post-type-listings table.wp-list-table.posts tbody td,
.post-type-listings table.wp-list-table.posts tbody th {
  vertical-align: middle; }

.post-type-listings table.wp-list-table .column-name {
  width: 22%; }

.post-type-listings table.wp-list-table [class*=" column-taxonomy-"] {
  width: 10%; }

table.wp-list-table .column-stm_image {
  width: 100px;
  text-align: center; }

table.wp-list-table .column-stm_image img {
  max-width: 135px;
  height: auto;
  width: auto;
  margin: 0 auto; }

table.wp-list-table .column-stm_image .attachment {
  width: 100%; }

.stm_form_wrapper_use_on_directory_filter_title {
  padding-bottom: 7px !important; }

/*Preview media*/
@media (max-width: 1806px) {
  .stm_form_wrapper_checkbox.stm_form_wrapper_listing_rows_numbers_enable a[data-image] {
    margin: 8px 0 0 18px !important; } }

@media (max-width: 1760px) {
  .stm_form_wrapper_checkbox.stm_form_wrapper_use_on_car_filter_links a[data-image] {
    margin: 8px 0 0 18px !important; } }

@media (max-width: 1555px) {
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image label {
    float: none; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image a[data-image] {
    margin: 8px 0 0 18px !important; } }

@media (max-width: 1200px) {
  .ht_vehicles_listing_row_options .stm_listings_col_4 {
    width: 50%; } }

@media (max-width: 783px) {
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm_form_wrapper_checkbox span {
    top: -1px; }
  .stm_form_wrapper_radio[data-depended] {
    margin-top: -15px !important; }
  .stm_form_wrapper_number_field_affix {
    margin-top: -25px !important; }
  table.wp-list-table.listing_categories {
    display: block; }
    table.wp-list-table.listing_categories thead {
      display: block; }
      table.wp-list-table.listing_categories thead tr {
        display: block; }
        table.wp-list-table.listing_categories thead tr th {
          display: none !important; }
          table.wp-list-table.listing_categories thead tr th:first-child {
            display: block !important; }
    table.wp-list-table.listing_categories tbody {
      display: block; }
      table.wp-list-table.listing_categories tbody tr {
        display: block; }
        table.wp-list-table.listing_categories tbody tr td, table.wp-list-table.listing_categories tbody tr th {
          display: block !important;
          width: 100% !important; }
          table.wp-list-table.listing_categories tbody tr td:not(:first-child), table.wp-list-table.listing_categories tbody tr th:not(:first-child) {
            display: none !important; }
          table.wp-list-table.listing_categories tbody tr td.manage, table.wp-list-table.listing_categories tbody tr th.manage {
            display: block !important; }
            table.wp-list-table.listing_categories tbody tr td.manage i, table.wp-list-table.listing_categories tbody tr th.manage i {
              margin-left: 0 !important; }
  .ht_vehicles_listing_option_meta .stm_form_wrapper.stm-has-preview-image a[data-image],
  .stm_listings_settings_head.active td:before {
    display: none !important; }
  .ht_vehicles_listing_row_options .stm_listings_col_4 {
    width: 100% !important; } }

/* Multiselect */
.ms-container {
  background: transparent url("../images/switch.png") no-repeat 48.5% 50%;
  width: 480px; }

.ms-container:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden; }

.ms-container .ms-selectable, .ms-container .ms-selection {
  background: #fff;
  color: #555555;
  float: left;
  width: 45%; }

.ms-container .ms-selection {
  float: right; }

.ms-container .ms-list {
  max-width: 200px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto; }

.ms-container .ms-list.ms-focus {
  border-color: #ccc !important;
  box-shadow: none !important;
  outline: 0;
  outline: thin dotted \9; }

.ms-container ul {
  margin: 0;
  list-style-type: none;
  padding: 0; }

.ms-container .ms-optgroup-container {
  width: 100%; }

.ms-container .ms-optgroup-label {
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999; }

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  border-bottom: 1px #eee solid;
  padding: 6px 10px;
  margin-bottom: 0;
  color: #555;
  font-size: 14px; }

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c; }

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
  background-color: #eee;
  color: #aaa;
  cursor: text; }

#butterbean-control-gallery_videos_posters .main_image {
  display: none; }

.gm-err-autocomplete {
  background-position: 100% -5px !important;
  background-repeat: no-repeat !important; }
